<header class="site-header">
  <nav class="site-nav">
    <a class="logo" href="{{ .Site.BaseURL }}"> {{ .Site.Title }} </a>
    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <!-- For each "Menu.main" in the config yaml file, repeat the unorderd list below filling out the .URL variable and its .Name variable. This is a "GO template" thing" -->
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      <!-- Ends the repeating function-->
    </ul>
  </nav>
</header>
